md-grid-list {
  margin: 8px; 
}
.orr1 {
  background: #3e6074; 
}
.orr2 {
  background: #192a47; 
}
.orr3 {
  background: #ea4428; 
}
.orr4 {
  background: #610041; 
}
md-grid-tile {
  transition: all 400ms ease-out 50ms; 
}

.footer {
  padding: 10px;
  color: #3e6074; 
  font-size: 14px;
  opacity: 0.5;
}

h1 {
	font-family: 'Cabin', sans-serif;
	padding-top: 20px;
	font-weight: 500;
    color: #273855;
    text-align: center;
}

h2 {
	font-family: 'Cabin', sans-serif;
	font-size: 16;
	color: white;
	text-align: center;
	margin: 10px;
}

h3 {
	font-family: 'Cabin', sans-serif;
	font-size: 14;
	font-weight: 500;
    color: #273855;
    text-align: center;
}

#main {
	width:90%; 
	height:90%; 
	margin:0 auto;
}

@media only screen and (max-width: 599px) {
  h2 {
    font-size: 4;
  }
}

@media only screen and (min-width: 600px) {
  h2 {
    font-size: 8;
  }
}

@media only screen and (min-width: 900px) {
  h2 {
    font-size: 12;
  }
}

@media only screen and (min-width: 1100px) {
  h2 {
    font-size: 16;
  }
}